[submodule "frontend"]
	path = frontend
	url = https://github.com/maxwellwachira/vehicle-shifter-frontend.git
[submodule "backend"]
	path = backend
	url = https://github.com/maxwellwachira/vehicle-shifter-backend.git
